@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aventa";
  src: url("/public/fonts/ellenluff-aventa/EllenLuff - Aventa Light.otf")
    format("otf");
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font to the entire body */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aventa', sans-serif;
}

.title {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 13px !important;
  color: white !important;
}

